.CreateTodoButton {
    border-radius: 50%;
    border: 2px solid #61dafb;
    color: white;
    background-color: #61dafb;
    font-size: 35px;
    height: 55px;
    width: 55px;
    transition: all 0.3s;
    z-index: 1;
    position: absolute;
    bottom: 100px;
    right: 100px;
}
.CreateTodoButton:hover {
    cursor: pointer;
    border-color: #42b9da;
    color: white;
    background-color: #42b9da;
    transform: rotate(45deg);
}